<section class="bg-number-section-background bg-cover bg-center py-16 w-full flex items-center justify-center">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 px-8 py-4 max-w-6xl text-center">
    <!-- Card 1 -->
    <a href="#" class="block w-full max-w-[250px] mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        <span class="count" [attr.data-target]="150">0</span>+ satisfied clients
      </h5>
    </a>

    <!-- Card 2 -->
    <a href="#" class="block w-full max-w-[250px] mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        <span class="count" [attr.data-target]="5">0</span>+ years of Experience
      </h5>
    </a>

    <!-- Card 3 -->
    <a href="#" class="block w-full max-w-[250px] mx-auto p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
        <span class="count" [attr.data-target]="120">0</span>+ presentations
      </h5>
    </a>
  </div>
</section>
