<section
  class="bg-custom-gradient h-[750px] flex items-start justify-normal py-20 px-[12%]"
  id="projects"
>
  <div class="">
    <div class="text-left mt-12 flex flex-col pb-[50px]">
      <h1 class="text-3xl md:text-5xl font-bold text-white">RECENT PROJECTS</h1>
    </div>
    <div class="flex flex-row space-x-9">
        <div class="carousel-container">
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let slide of slidesStore">
                <ng-template carouselSlide [id]="slide.id">
                  <img [src]="slide.src" [alt]="slide.alt" [title]="slide.title" class="carousel-image">
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
    </div>
  </div>
</section>
